* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // firefox
  scrollbar-color: var(--gray-300);
  scrollbar-width: thin;

  // chrome
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray-300);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 10px;
  }
}

:root {
  --white: #ffffff;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-500: #eba417;

  --danger-400: #ef5350;
}

// Ipad
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

// Mobile
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-850);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  //   font: 400 1rem 'Poppins', sans-serif;
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit; // Assume a cor do elemento pai
  text-decoration: none;
}
